CMakeFiles/
CMakeCache.txt
!clang-cxx-dev-tools.cmake
!compilerSettings.cmake
*.a
*.o
*.so
Makefile
.project
.cproject
*~
*/.settings/*
*/doc/html/
*/doc/latex/
Doxyfile
*.orig
templateDir.h
exampleDir.h
CodegenOutputDirs.h
ct_core/generated/*
solution.mat
*.tag
*.tmp
*.mat
.settings/
build/
CTestTestfile.cmake
cmake_install.cmake
compile_commands.json
ct_core/CTestTestfile.cmake
ct_core/cmake_install.cmake
ct_models/CTestTestfile.cmake
ct_models/cmake_install.cmake
ct_optcon/CTestTestfile.cmake
ct_optcon/cmake_install.cmake
ct_optcon/test/costfunction/costfunction_test_dir.h
ct_optcon/test/dms/oscillator/oscDMSTest_settings.h
ct_optcon/test/mpc/mpcTestSettings.h
ct_optcon/test/nloc/nloc_test_dir.h
ct_rbd/CTestTestfile.cmake
ct_rbd/cmake_install.cmake
googletest-prefix/
